* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-grow: 0;
}

.container {
    background-color: beige;
    flex-basis: 300px;
    flex-shrink: 0;
    border-radius: 10px;
}

.input-block {
    margin: 10px;
}

.calc-input {
    width: 100%;
    height: 50px;
    padding: 30px;
    font-size: 30px;
    border: 0;
    border-bottom: 2px solid brown;
    text-align: right;
}

.calc-input:focus {
    outline: none;
}

.buttons {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
}

.buttons > button {
    padding: 10px;
    flex-basis: 67px;
    flex-shrink: 0;
    flex-grow: 1;
}

#clear-button {
    flex-basis: 74.5%;
}

#equals-button {
    flex-basis: 50%;
}
